<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
{%load rest_framework%}
<form method="post">
    <h3 style="color:darkblue; text-align:center">Add blog</h3>
    {% csrf_token %}
    {% render_form serializer template_pack='rest_framework/vertical' %}
       <br>
    <br>
    <button>submit</button>
    <br>
    <br>
    <a href="{%url 'blog:upload_image'%}">upload image</a>

</form>
</body>
</html>