<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>setnewpassword</title>
</head>
<body>
{% block content %}

    {% if validlink %}

        <h3 style="color: darkslategray">Set a new password</h3>
        <form style="color: cadetblue" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input style="color: darkslategray" type="submit" value="Change my password">
            <br><br>
            <a href="{% url 'user:login' %}" style="color: blue">Don't Forgot! </a>
        </form>

    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>

    {% endif %}
{% endblock %}
</body>
</html>