<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgot</title>
</head>
<body>
<form method="POST">
        <h3 style="color: darkslategray">Forgot your password?</h3>
        <p style="color: cadetblue">Enter your email address below and we will sent instructions .</p>
        {% csrf_token %}
        {{ form.as_p }}
        <input style="color: darkslategray" type="submit" value="Send me an email">
        <br><br>
        <a href="{% url 'user:login' %}" style="color: darkslategray" >Don't Forgot! </a>
    </form>
</body>
</html>